:root {
    --text-color: #7d8494;
    --bkg-color: #292d32;
    --shadow1-color: #30343a;
    --shadow2-color: #30343a;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================================================================== */
/* Nav */
/* ================================================================== */

.NavBar {
    height: 3.5em;
    width: 100%;
    background-color: var(--bkg-color);
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 1px 20px 3px var(--shadow2-color);
}

/* ================================================================== */
/* Header */
/* ================================================================== */

#Header {
    position: relative;
    left: 20%;
    top: 45%;
    transform: translateY(-50%);
}

.HeaderTitle {
    margin: 0;
    font-size: 6em;
}

.HeaderSubTitle {
    margin-top: 0.5em;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
}

/* ================================================================== */
/* Education and Work */
/* ================================================================== */

#Education {
    width: 100%;
    height: 100%;
    display: flex;
}
#EducationLeft {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* TODO: TEMP BELOW : */
    background-color: var(--bkg-color);
    color: azure;
}
#EducationRight {
    width: 40%;
    height: 100%;
    /* TODO: TEMP BELOW : */
    background-color: cadetblue;
}

#Work {
    width: 100%;
    height: 100%;
    display: flex;
}
#WorkLeft {
    width: 40%;
    height: 100%;
    /* TODO: TEMP BELOW : */
    background-color: palevioletred;
}
#WorkRight {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* TODO: TEMP BELOW : */
    background-color: var(--bkg-color);
    color: azure;
}

.SkillBox {
    position: relative;
    width: 90%;
    margin: 5%;
    margin-bottom: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: var(--text-color) 2px solid;
    box-shadow: inset 0px 0px 20px 5px var(--shadow2-color);
}
.SkillBox p {
    color: var(--text-color);
}

.SBtop {
    width: 99%;
    padding-left: 1%;
    border-bottom: var(--text-color) 2px solid;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
.SBtop p {
    margin: 0;
    position: relative;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.SBmid {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--text-color) 2px solid;
}
.SBmid p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.Nom {
    text-transform: uppercase;
}

.SBbotDesc {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    height: 150px;
}
.SBbotDesc p {
    margin: 0;
    padding-top: 0.5em;
    text-align: justify;
}
.SBbotFiles {
    width: 99%;
    padding-left: 1%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}
.SBbotFiles a {
    padding: 0;
    padding-top: 0.5em;
    text-decoration: none;
    color: aqua;
}

.SBbutton {
    position: absolute;
    width: 100%;
    bottom: 0%;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
}

/* ================================================================== */
/* Temp backgrounds */
/* ================================================================== */

#tempP1 {
    background-color: #30527c;
}

#tempP2 {
    background-color: #3d7c30;
}

#tempP3 {
    background-color: #7c3030;
}
