:root {
    --text-color: #7d8494;
    --bkg-color: #292d32;
    --shadow1-color: #30343a;
    --shadow2-color: #30343a;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================================================================== */
/* Nav */
/* ================================================================== */

.NavBar {
    height: 3.5em;
    width: 100%;
    background-color: var(--bkg-color);
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 1px 20px 3px var(--shadow2-color);
}

/* ================================================================== */
/* Header */
/* ================================================================== */

#Header {
    position: relative;
    left: 20%;
    top: 45%;
    transform: translateY(-50%);
}

.HeaderTitle {
    margin: 0;
    font-size: 6em;
}

.HeaderSubTitle {
    margin-top: 0.5em;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
}

/* ================================================================== */
/* Education and Work */
/* ================================================================== */

#Education_Work {
    width: 100%;
    height: 100%;
    display: flex;
}

#education {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* TODO: TEMP BELOW : */
    background-color: var(--bkg-color);
    color: azure;
}

#work {
    width: 50%;
    height: 100%;
    /* TODO: TEMP BELOW : */
    background-color: cadetblue;
}

.SkillBox {
    width: 90%;
    margin: 5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: var(--text-color) 2px solid;
    box-shadow: inset 0px 0px 20px 5px var(--shadow2-color);
}

.SBtop {
    width: 97%;
    padding-left: 3%;
    border-bottom: var(--text-color) 2px solid;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
.SBtop img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
}
.SBtop p {
    margin: 0;
    position: relative;
    transform: translateY(+30%);
}

.SBmid {
    width: 95%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--text-color) 2px solid;
}
.SBmid p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.Nom {
    text-transform: uppercase;
}

.SBbot {
    width: 97%;
    padding-left: 3%;
    min-height: 150px;
}

/* ================================================================== */
/* Temp backgrounds */
/* ================================================================== */

#tempP1 {
    background-color: #30527c;
}

#tempP2 {
    background-color: #3d7c30;
}
