:root {
    --text-color: #7d8494;
    --bkg-color: #292d32;
    --shadow1-color: #2a2d32;
    --shadow2-color: #30343a;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================================================================== */
/* Nav */
/* ================================================================== */

.NavBar {
    height: 3.5em;
    width: 100%;
    background-color: var(--bkg-color);
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 1px 20px 3px var(--shadow2-color);
}

/* ================================================================== */
/* Header */
/* ================================================================== */

#Header {
    position: relative;
    left: 20%;
    top: 45%;
    transform: translateY(-50%);
}

.HeaderTitle {
    margin: 0;
    font-size: 6em;
}

.HeaderSubTitle {
    margin-top: 0.5em;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
}

/* ================================================================== */
/* Education and Work */
/* ================================================================== */

#Education_Work {
    width: 100%;
    height: 100%;
    display: flex;
}

#education {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* TODO: TEMP BELOW : */
    background-color: brown;
    color: azure;
}

#work {
    width: 50%;
    height: 100%;
    /* TODO: TEMP BELOW : */
    background-color: cadetblue;
}

/* .EWelements {
    display: flex;
    flex-direction: row;
    width: 100%;
} */
.EWelements {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.EWelements p {
    padding: 0;
    margin: 0;
}
.placeanddate {
    display: flex;
    flex-direction: column;
}

/* .EWleft {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 20%;
}
.EWleft p {
    padding: 0;
    margin: 0;
}

.EWmiddle {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.EWpoint {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    /* TODO: TEMP BELOW : */
/* background-color: black;
}

.EWright {
    display: flex;
    flex-direction: column;
}
.EWright p {
    padding: 0;
    margin: 0;
}*/

.EWorga {
    font-size: 2.5em;
}
.EWplace {
    font-size: 1.5em;
}

/* ================================================================== */
/* Temp backgrounds */
/* ================================================================== */

#tempP1 {
    background-color: #30527c;
}

#tempP2 {
    background-color: #3d7c30;
}
